<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
        content="width=device-width, initial-scale=1.0">

    <title>Açayou</title>

    <link rel="stylesheet"
        href="{{ url_for('static', filename='style.css') }}">

    <link rel="preconnect"
        href="https://fonts.googleapis.com">

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

</head>

<body>

    <!-- HEADER -->

    <header class="topo">

        <div class="logo">
            🍇 Açayou
        </div>

        <nav>

            <a href="#cardapio">
                Cardápio
            </a>

            <a href="#carrinho">
                Carrinho
            </a>

            <a href="#contato">
                Contato
            </a>

        </nav>

    </header>

    <!-- HERO -->

    <section class="hero">

        <div class="overlay"></div>

        <div class="hero-content">

            <h1>
                O MELHOR AÇAÍ DA REGIÃO
            </h1>

            <p>
                Cremoso • Gelado • Cheio de sabor
            </p>

            <a href="#cardapio"
                class="btn-hero">

                PEÇA AGORA

            </a>

        </div>

    </section>

    <!-- TITULO -->

    <section class="titulo-section">

        <h2>
            ⭐ Mais Pedidos
        </h2>

    </section>

    <!-- CARDS -->

    <section id="cardapio"
        class="cards">

        {% for produto in produtos %}

        <div class="card">

            {% set descricao = produto.descricao.lower() %}

            <!-- IMAGEM AUTOMÁTICA -->

            {% if 'morango' in descricao %}

            <img src="{{ url_for('static', filename='img/acai-morango.png') }}"
                alt="Açaí com Morango">

            {% elif 'granola' in descricao %}

            <img src="{{ url_for('static', filename='img/acai-granola.png') }}"
                alt="Açaí com Granola">

            {% elif 'banana' in descricao %}

            <img src="{{ url_for('static', filename='img/acai-banana.png') }}"
                alt="Açaí com Banana">

            {% else %}

            <img src="{{ url_for('static', filename='img/acai-padrao.png') }}"
                alt="Açaí">

            {% endif %}

            <div class="card-conteudo">

                <h3>
                    {{ produto.nome }}
                </h3>

                <p class="descricao">
                    {{ produto.descricao }}
                </p>

                <p class="preco">
                    R$ {{ produto.preco }}
                </p>

                <h4>
                    Adicionais
                </h4>

                <div class="adicionais">

                    {% if 'banana' not in descricao %}

                    <label>

                        <input type="checkbox"
                            value="Banana"
                            data-preco="2">

                        Banana (+R$2)

                    </label>

                    {% endif %}

                    {% if 'morango' not in descricao %}

                    <label>

                        <input type="checkbox"
                            value="Morango"
                            data-preco="4">

                        Morango (+R$4)

                    </label>

                    {% endif %}

                    {% if 'granola' not in descricao %}

                    <label>

                        <input type="checkbox"
                            value="Granola"
                            data-preco="3">

                        Granola (+R$3)

                    </label>

                    {% endif %}

                    {% if 'paçoca' not in descricao %}

                    <label>

                        <input type="checkbox"
                            value="Paçoca"
                            data-preco="3">

                        Paçoca (+R$3)

                    </label>

                    {% endif %}

                </div>

                <button onclick="pedir(this)">
                    Adicionar ao Carrinho
                </button>

            </div>

        </div>

        {% endfor %}

    </section>

    <!-- DADOS -->

    <section class="dados-cliente">

        <h2>
            📍 Dados para entrega
        </h2>

        <input type="text"
            id="nome-cliente"
            placeholder="Seu nome">

        <input type="text"
            id="telefone-cliente"
            placeholder="Seu telefone">

        <input type="text"
            id="endereco-cliente"
            placeholder="Rua e número">

        <input type="text"
            id="bairro-cliente"
            placeholder="Bairro">

        <div class="tempo-entrega"
            id="tempo-entrega">

            ⏰ Tempo estimado: 50 minutos

        </div>

    </section>

    <!-- CARRINHO -->

    <section id="carrinho"
        class="carrinho">

        <h2>
            🛒 Seu Carrinho
        </h2>

        <div id="itens-carrinho"></div>

        <h3 id="total-geral">
            Total: R$ 0.00
        </h3>

        <button onclick="finalizarPedido()">
            Finalizar Pedido
        </button>

    </section>

    <!-- BOTÃO WHATS -->

    <a class="whatsapp"
        href="https://wa.me/5511954989143"
        target="_blank">

        💬

    </a>

    <!-- FOOTER -->

    <footer id="contato">

        <h2>
            🍇 Açayou
        </h2>

        <p>
            O melhor açaí da cidade
        </p>

        <p>
            © 2026 Site Desenvolvido por Davi-Erick-Adriano - Curso Vocação Codigo Da Tranformação 
        </p>

    </footer>

    <script>

        let totalGeral = 0

        let pedidos = []

        function pedir(botao) {

            let card =
                botao.parentElement

            let nome =
                card.querySelector("h3").innerText

            let precoTexto =
                card.querySelector(".preco")
                    .innerText

            precoTexto =
                precoTexto.replace("R$", "")
                    .replace(",", ".")
                    .trim()

            let preco =
                parseFloat(precoTexto)

            let adicionais = []

            let checks =
                card.querySelectorAll(
                    "input[type='checkbox']"
                )

            checks.forEach(function (check) {

                if (check.checked) {

                    adicionais.push(
                        check.value
                    )

                    preco += parseFloat(
                        check.dataset.preco
                    )

                }

            })

            totalGeral += preco

            pedidos.push({

                nome: nome,
                preco: preco,
                adicionais: [...adicionais]

            })

            atualizarCarrinho()

            checks.forEach(function (check) {

                check.checked = false

            })

        }

        function atualizarCarrinho() {

            let carrinho =
                document.getElementById(
                    "itens-carrinho"
                )

            carrinho.innerHTML = ""

            pedidos.forEach(function (pedido) {

                let item =
                    document.createElement("div")

                item.classList.add(
                    "item-carrinho"
                )

                item.innerHTML = `

                <div class="item-box">

                    <h4>
                        ${pedido.nome}
                    </h4>

                    <p>
                        ➕ ${pedido.adicionais.length > 0 ? pedido.adicionais.join(", ") : "Sem adicionais"}
                    </p>

                    <span>
                        R$ ${pedido.preco.toFixed(2)}
                    </span>

                </div>

                `

                carrinho.appendChild(item)

            })

            document.getElementById(
                "total-geral"
            ).innerText =

                "Total: R$ " +
                totalGeral.toFixed(2)

        }

        function finalizarPedido() {

            if (pedidos.length == 0) {

                alert("Carrinho vazio")
                return

            }

            let nomeCliente =
                document.getElementById(
                    "nome-cliente"
                ).value

            let telefoneCliente =
                document.getElementById(
                    "telefone-cliente"
                ).value

            let enderecoCliente =
                document.getElementById(
                    "endereco-cliente"
                ).value

            let bairroCliente =
                document.getElementById(
                    "bairro-cliente"
                ).value

            if (
                nomeCliente == "" ||
                telefoneCliente == "" ||
                enderecoCliente == "" ||
                bairroCliente == ""
            ) {

                alert(
                    "Preencha todos os dados"
                )

                return

            }

            let mensagem =
                "🍇 PEDIDO - AÇAYOU 🍇\n\n"

            mensagem +=
                "👤 Cliente: " +
                nomeCliente + "\n"

            mensagem +=
                "📞 Telefone: " +
                telefoneCliente + "\n"

            mensagem +=
                "📍 Endereço: " +
                enderecoCliente + "\n"

            mensagem +=
                "🏘️ Bairro: " +
                bairroCliente + "\n\n"

            pedidos.forEach(function (pedido) {

                mensagem +=
                    "🧁 " +
                    pedido.nome + "\n"

                mensagem +=
                    "➕ " +
                    (pedido.adicionais.length > 0
                        ? pedido.adicionais.join(", ")
                        : "Sem adicionais")
                    + "\n"

                mensagem +=
                    "💰 R$ " +
                    pedido.preco.toFixed(2)
                    + "\n\n"

            })

            mensagem +=
                "🛒 TOTAL: R$ " +
                totalGeral.toFixed(2)

            let numero =
                "5511954989143"

            let link =

                "https://wa.me/" +
                numero +
                "?text=" +
                encodeURIComponent(mensagem)

            window.open(link)

        }

    </script>

</body>

</html>